/*This file contains variables*/
/*are placeholders for storing information that you wany
to reuse throughout your styles.
You can store things like colours, font-stacks, or any css 
value you think you might want to reuse.
SCSS uses the '$' symbol to declare variables*/
/* line 1, /Users/Pils/Documents/1 Graphic Design/3rd year GD/2nd Semester/Web Dev/dsn-1686-exercise-4/scss/components/main */
body {
  padding: 50px; }

/* line 5, /Users/Pils/Documents/1 Graphic Design/3rd year GD/2nd Semester/Web Dev/dsn-1686-exercise-4/scss/components/main */
.animate {
  transition: all 0.1s;
  -webkit-transition: all 0.1s; }

/* line 10, /Users/Pils/Documents/1 Graphic Design/3rd year GD/2nd Semester/Web Dev/dsn-1686-exercise-4/scss/components/main */
.action-button {
  position: relative;
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  float: left;
  border-radius: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  color: #FFF;
  text-decoration: none; }

/* line 22, /Users/Pils/Documents/1 Graphic Design/3rd year GD/2nd Semester/Web Dev/dsn-1686-exercise-4/scss/components/main */
.blue {
  background-color: #3498DB;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9; }

/* line 28, /Users/Pils/Documents/1 Graphic Design/3rd year GD/2nd Semester/Web Dev/dsn-1686-exercise-4/scss/components/main */
.red {
  background-color: #E74C3C;
  border-bottom: 5px solid #BD3E31;
  text-shadow: 0px -2px #BD3E31; }

/* line 34, /Users/Pils/Documents/1 Graphic Design/3rd year GD/2nd Semester/Web Dev/dsn-1686-exercise-4/scss/components/main */
.green {
  background-color: #82BF56;
  border-bottom: 5px solid #669644;
  text-shadow: 0px -2px #669644; }

/* line 40, /Users/Pils/Documents/1 Graphic Design/3rd year GD/2nd Semester/Web Dev/dsn-1686-exercise-4/scss/components/main */
.yellow {
  background-color: #F2CF66;
  border-bottom: 5px solid #D1B358;
  text-shadow: 0px -2px #D1B358; }

/* line 46, /Users/Pils/Documents/1 Graphic Design/3rd year GD/2nd Semester/Web Dev/dsn-1686-exercise-4/scss/components/main */
.action-button:active {
  -ms-transform: translate(0px, 5px);
      transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  border-bottom: 1px solid; }
